:root{
  --primary: #4069f0;
  --secondary: #fff;

  --primary-alpha: rgba(65, 106, 240, .3);

  --shadow-pimary: 0px 0px 15px 0px rgba(65,106,240,0.9);

  --text: #333333;

  --box-shadow: 0 0 15px 0px gainsboro;
  --border-radius: 7px;
}

html, body, *, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans";
  font-size: 16px;
  color: var(--text);
  min-height: 100vh;
}

fieldset, input, button{
  border: none;
  outline: none;
}

a{
  text-decoration: none;
}

.msg-error{
  padding: .5rem;
  color: #ff2800;
  background-color: rgba(255, 99, 71, .3);
  text-align: center;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
}

.form-title{
  padding: 1rem;
  text-align: center;
}

.form {
  width: 30%;
  padding: 2rem 1rem;
  padding-top: 3rem;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
}

.form-fieldset{
  position: relative;
  margin-bottom: 2rem;
}
.form-field{
  padding: .75rem .6rem;
  width: 100%;
  border-radius: var(--border-radius);
  font-size: 16px;
  border: 2px solid var(--primary);
  transition: background-color .25s;
}
.form-field:focus, .form-field:not(:placeholder-shown){
  border-radius: var(--border-radius);
  box-shadow: 0 0 var(--primary);
}

.form-label{
  position: absolute;
  top: 50%;
  left: 1rem;
  padding: .25rem .5rem;
  color: var(--primary);
  background-color: var(--secondary);
  transform: translate(0, -50%) scale(1);
  transition: transform .2s, top .2s;
}
.form-field:focus + .form-label, .form-field:not(:placeholder-shown) + .form-label{
  top: 0;
  transform: translate(-0.75rem, -50%) scale(.85);
}

.btn{
  font-size: 16px;
  padding: .5rem .75rem;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--secondary);
  transition: background-color .25s, transform .2s, box-shadow .25s;
  box-shadow: 0 0 0 0 transparent;
}
.btn:hover{
  background-color: #3961dc;
  box-shadow: var(--shadow-pimary);
}
.btn:active{
  transform: scale(0.95);
}

.form-extra{
  padding-top: 1.5rem;
}

/*  Home style's  */
.headerpage{
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  box-shadow: var(--box-shadow);
}
.headerpage--info{
  display: grid;
  grid-template-areas: "fullname avatar" "username avatar";
}

.headerpage--info__fullname, .headerpage--info__username{
  text-align: right;
  padding-right: .5rem;
}
.headerpage--info__fullname{
  grid-area: fullname;
  font-weight: bold;
}
.headerpage--info__username{
  grid-area: username;
}
.headerpage--info__avatar{
  grid-area: avatar;
  width: 2.5rem;
}


/*  main style's  */
.main{
  display: flex;
  height: calc(100vh - 3.75rem);
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  padding: .5rem 0;
}
.aside--article{
  padding: .5rem 0;
  border-bottom: 1px solid gainsboro;
}
.aside--article__title{
  padding: .5rem 0 1rem .5rem;
}

.aside--article__item{
  display: flex;
  align-items: center;
  padding: .6rem 1.5rem;
  background-color: transparent;
  border-radius: 0 100px 100px 0;
  color: var(--text);
  transition: background-color .3s, color .3s;
}
.aside--article__item i{
  width: 2rem;
  font-size: 1.25rem;
  margin-right: .5rem;
  transform: rotateX(0deg);
  transition: transform .35s;
  transform-origin: center center;
}
.aside--article__item:hover i{
  transform: rotateX(360deg);
  transform-origin: center center;
}
.logout-link{
  display: block;
  text-align: center;
  color: var(--primary);
}
.aside--article__item.active{
  background-color: var(--primary-alpha);
  color: var(--primary);
  font-weight: bold;
}
.aside--article__item:hover{
  background-color: rgba(220, 220, 220, .75);
  color: var(--text);
}

.content{
  width: 80%;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.list-form{
  width: 50%;
  margin: 1rem auto 0 auto;
  padding: .5rem 0;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: width .2s;
}

.list-form--title{
  width: 100%;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}
.list-form.new-list .list-form--title{
  text-align: left;
  font-size: 1rem;
}
.list-form:not(.new-list){
  width: 25%;
  height: 3rem;
}
.list-form:not(.new-list) .list-form--title{
  cursor: default;
}

.list-item--container{
  padding: .5rem 0;
}
.list-item{
  height: 2rem;
  width: 100%;
  padding: .25rem 1rem;
  background-color: transparent;
}
.list-item.active{
  background-color: #f0f0f0;
}

.list-item *{
  display: inline-block;
}
.list-item__label{
  width: 1rem;
  line-height: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.list-item__label.checked ~ .list-item__field{
  text-decoration: line-through;
}
.list-item__field{
  width: calc(100% - 4rem);
  font-size: 1rem;
  background-color: transparent;
}
.list-item__field:placeholder-shown + .list-item__close{
  display: none;
}
.list-item__close:hover{
  width: 1rem;
  color: var(--primary);
}

.list-form__submit{
  margin: 1rem 0 .5rem 1rem;
}

.list-form__submit, .list-form__wrapper-btn{
  display: inline-block;
  margin-left: 1rem;
}
.list-form__select-tag{
  display: block;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: .5rem;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow .3s;
}
.list-form__select-tag:hover{
  box-shadow: var(--box-shadow);
}

.list-form__select-tag option{
  font-family: inherit;
  font-size: .9rem;
}


/* List Viewer */

.list{
  border: 1px solid var(--primary);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
}
